# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [11]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Aasiaat,GL,68.7098,-52.8699,33.51,99,100,7.02,snow
1,1,Pemberton,CA,50.3164,-122.8027,77.20,31,17,2.71,few clouds
2,2,Poplar Bluff,US,36.7570,-90.3929,55.29,27,0,11.50,clear sky
3,3,Yar-Sale,RU,66.8333,70.8333,39.65,94,100,13.65,overcast clouds
4,4,Albany,US,42.6001,-73.9662,55.89,63,76,8.63,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [12]:
# Prompt the user to enter the minimum temperature criteria
min_temp = min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [13]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Pemberton,CA,50.3164,-122.8027,77.20,31,17,2.71,few clouds
11,11,Phalodi,IN,27.1333,72.3667,78.15,23,0,9.17,clear sky
13,13,Kapaa,US,22.0752,-159.3190,85.10,70,0,6.91,clear sky
24,24,Adrar,MR,20.5022,-10.0711,89.24,12,100,10.63,overcast clouds
28,28,Ormara,PK,25.2088,64.6357,79.84,72,63,7.16,broken clouds
31,31,Nioro,GM,13.3500,-15.7500,80.46,81,65,1.23,moderate rain
32,32,Puerto Escondido,MX,15.8500,-97.0667,77.83,65,100,4.61,overcast clouds
34,34,Vaini,TO,-21.2000,-175.2000,76.78,80,100,7.87,overcast clouds
37,37,Atuona,PF,-9.8000,-139.0333,76.60,68,2,14.47,clear sky
38,38,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,75.56,84,40,9.84,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [14]:
# Determine any empty rows
preferred_cities_df.count()

City_ID                194
City                   194
Country                193
Lat                    194
Lng                    194
Max Temp               194
Humidity               194
Cloudiness             194
Wind Speed             194
Current Description    194
dtype: int64

In [15]:
# Drop any empty rows in the preferred_cities_df DataFrame a/nd create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna(axis="index", how="any")

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Pemberton,CA,50.3164,-122.8027,77.20,31,17,2.71,few clouds
11,11,Phalodi,IN,27.1333,72.3667,78.15,23,0,9.17,clear sky
13,13,Kapaa,US,22.0752,-159.3190,85.10,70,0,6.91,clear sky
24,24,Adrar,MR,20.5022,-10.0711,89.24,12,100,10.63,overcast clouds
28,28,Ormara,PK,25.2088,64.6357,79.84,72,63,7.16,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [16]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng
1,Pemberton,CA,77.20,few clouds,50.3164,-122.8027
11,Phalodi,IN,78.15,clear sky,27.1333,72.3667
13,Kapaa,US,85.10,clear sky,22.0752,-159.3190
24,Adrar,MR,89.24,overcast clouds,20.5022,-10.0711
28,Ormara,PK,79.84,broken clouds,25.2088,64.6357
31,Nioro,GM,80.46,moderate rain,13.3500,-15.7500
32,Puerto Escondido,MX,77.83,overcast clouds,15.8500,-97.0667
34,Vaini,TO,76.78,overcast clouds,-21.2000,-175.2000
37,Atuona,PF,76.60,clear sky,-9.8000,-139.0333
38,Sao Jose Da Coroa Grande,BR,75.56,scattered clouds,-8.8978,-35.1478

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [17]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pemberton,CA,77.20,few clouds,50.3164,-122.8027,
11,Phalodi,IN,78.15,clear sky,27.1333,72.3667,
13,Kapaa,US,85.10,clear sky,22.0752,-159.3190,
24,Adrar,MR,89.24,overcast clouds,20.5022,-10.0711,
28,Ormara,PK,79.84,broken clouds,25.2088,64.6357,
31,Nioro,GM,80.46,moderate rain,13.3500,-15.7500,
32,Puerto Escondido,MX,77.83,overcast clouds,15.8500,-97.0667,
34,Vaini,TO,76.78,overcast clouds,-21.2000,-175.2000,
37,Atuona,PF,76.60,clear sky,-9.8000,-139.0333,
38,Sao Jose Da Coroa Grande,BR,75.56,scattered clouds,-8.8978,-35.1478,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [18]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [19]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pemberton,CA,77.20,few clouds,50.3164,-122.8027,Pemberton Valley Lodge
11,Phalodi,IN,78.15,clear sky,27.1333,72.3667,"HOTEL NEW GOLDEN PALACE , PHALODI"
13,Kapaa,US,85.10,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,Adrar,MR,89.24,overcast clouds,20.5022,-10.0711,
28,Ormara,PK,79.84,broken clouds,25.2088,64.6357,Kenara Colony House for Rent
31,Nioro,GM,80.46,moderate rain,13.3500,-15.7500,
32,Puerto Escondido,MX,77.83,overcast clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
34,Vaini,TO,76.78,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
37,Atuona,PF,76.60,clear sky,-9.8000,-139.0333,Villa Enata
38,Sao Jose Da Coroa Grande,BR,75.56,scattered clouds,-8.8978,-35.1478,Crôa Mares Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [21]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
# # Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Pemberton,CA,77.20,few clouds,50.3164,-122.8027,Pemberton Valley Lodge
11,Phalodi,IN,78.15,clear sky,27.1333,72.3667,"HOTEL NEW GOLDEN PALACE , PHALODI"
13,Kapaa,US,85.10,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Ormara,PK,79.84,broken clouds,25.2088,64.6357,Kenara Colony House for Rent
32,Puerto Escondido,MX,77.83,overcast clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
34,Vaini,TO,76.78,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
37,Atuona,PF,76.60,clear sky,-9.8000,-139.0333,Villa Enata
38,Sao Jose Da Coroa Grande,BR,75.56,scattered clouds,-8.8978,-35.1478,Crôa Mares Hotel
39,Avarua,CK,78.85,scattered clouds,-21.2078,-159.7750,Paradise Inn
40,Caldas Novas,BR,88.41,few clouds,-17.7417,-48.6250,Best Western Suites Le Jardin Caldas Novas

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [22]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [23]:
# Set the file name.
output_data_file ="WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [24]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [25]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Pemberton Valley Lodge</dd>\n<dt>City</dt><dd>Pemberton</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HOTEL NEW GOLDEN PALACE , PHALODI</dd>\n<dt>City</dt><dd>Phalodi</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 85.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kenara Colony House for Rent</dd>\n<dt>City</dt><dd>Ormara</dd>\n<dt>Country</dt><dd>PK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 79.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aldea del Bazar Hotel and Spa</dd>\n<dt>City</dt><dd>Puerto Escondido</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Crôa Mares Hotel</dd>\n<dt>City</dt><dd>Sao Jose Da Coroa Grande</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 75.56 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Suites Le Jardin Caldas Novas</dd>\n<dt>City</dt><dd>Caldas Novas</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>few clouds and 88.41 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [26]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   50.3164 -122.8027
11  27.1333   72.3667
13  22.0752 -159.3190
28  25.2088   64.6357
32  15.8500  -97.0667
34 -21.2000 -175.2000
37  -9.8000 -139.0333
38  -8.8978  -35.1478
39 -21.2078 -159.7750
40 -17.7417  -48.6250

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [27]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))